body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.2rem;
}

.main-heading {
  font-size: 1.5rem;
}

.section {
  width: 800px;
  max-width: 90%;
  height: 100%;
  margin: auto;
  padding: 4em;
  background-color: #f7f6f6;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.201);
}

.section-heading {
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  background: #e9ebec;
  border: 1px solid rgba(196, 239, 255, 0.66);
}

.section .logo {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.form-area {
  padding: 10px;
}

.hide {
  display: none !important;
}

.initial-table td {
  padding-bottom: 10px;
}
